.logo {
  max-width: 180px !important;
  height: auto;
}

.logoReact {
  max-width: 70px !important;
  height: auto;
}

.logoReactTools {
  max-width:80px !important;
  height: auto;
  margin-left:10px
}

.logoContainer {
  display: flex;
  align-items: center;
}


